body{
    background-color: darkorange;
  }
  
  .titulo{
    text-align:center;
  }
  
  .formulario{
     background-color:darkgray;
    text-align:center;
    color:lightgray;
    padding: 15px 32px;
     display: inline-block;
    width: 200px;
    height: 200px;
    margin-left:35% ;
    border: 1px solid;
   
  
  }
  .btn{
    margin-top:15px;
    border-radius: 8px;
    font-size: 15px;
    background-color: #e7e7e7; color: black;
    padding: 10px 12px;
      text-align: center;
      text-decoration: none;
     bottom:10px;
  
  
    
  }